@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Poppins", sans-serif !important;
    padding: 0px !important;
    margin: 0px !important;
    background-color: #E5E5E5 !important;
}
h1{
    font-size: 50px !important;
    font-weight: 700 !important;
    
}
h3{
    font-size: 35px !important;
    font-weight: 600 !important;
}
p{
    font-size: 20px;
}
li{
    list-style-type: none;
}

/* container grid */
.containerR{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 150px 60px auto;

}

/* header */
.header{
    display: flex;
    grid-column: 1/4;
    position: fixed;
    background-color: #1E2A38;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #ffffff;
    width: 100%;
    height: 16%;
    transition: top 0.3s ease;
}
.header a{
    color: #E5E5E5;
    text-decoration: none;
}
.header a:hover{
    color: rgb(155, 207, 203); 
    transition: 0.2s;
    opacity: 0.7;
}
.header img{
    height: 150px;
    width: 200px;
    margin-left: 50px;
}
.header ul{
    display: flex;
    justify-content: space-around;
    margin: 100px;
}
.li2{
    margin-left: 300px;
}
.header li{
    padding-right: 30px;
}
.navbar-toggler{
    color: #ffffff !important;
    border: none !important;
    padding: 8px 24px !important;
}
.navbar.navbar-expand-lg{
    width: 100% !important;
}
/* barra lateral */
.aside{
    align-content: space-around;
    background-color: #1E2A38;
    margin-top: 300px;
    max-width: 13%;
    position: fixed;
    margin-left: 10px;
    border-radius: 10px;
}
.aside svg{
    color: #ffffff;
    margin: 10px 10px 10px 10px;
}

/* botão voltar ao topo */
.topo{
    grid-column: 3/4;
    grid-row: 3/4;
    margin-left: 15%;
    margin-top: 170%;
}
.topo button{
    background-color: #1E2A38;
    font-family: "Poppins";
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    position: fixed;
    display: none;
}

/* Apresentação sobre mim */
.apresentacao{
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    color: #1E2A38;
}
.apresentacao p{
    margin: 20px 0;
}
.download-button{
    margin-left: 56vh;
    display: flex;
    background-color: #1E2A38;
    font-family: "Poppins" !important;
    font-size: 20px !important;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.download-button p{
    margin: 0 0 0 5px;
}
.download-icon{
    padding-top: 3px;
}
.apresentacao img{
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    border: 5px solid #1E2A38;
}

/* Formção */
.formacao{
    grid-column: 1/4;
    grid-row: 4/5;
    color: #1E2A38;
    text-align: center;
}
.formacao ul{
    display: flex;
    justify-content: center;
    padding: 0;
}
.formacao li{
    padding: 5px;
}

/* Projetos */
.projetos{
    display: flex;
    grid-column: 2/3;
    grid-row: 5/6;
    color: #1E2A38;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.projetos h1{
    width: 100%;
}
.projetos-box{  
    background-color: #f0efef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 50px;
}
.projetos-box button{
    background-color: #1E2A38;
    font-family: "Poppins";
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.projetos-box button a{
    color: #ffffff;
    text-decoration: none;
}

/* Contato */
.contato {
    grid-column: 1/4;
    grid-row: 6/7;
    text-align: center;
    color: #1E2A38;
    padding: 20px;
}

.contato-info {
    margin-bottom: 20px;
}

.contato-info h3 {
    margin: 10px 0;
}

.contato-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-form label {
    margin: 5px 0;
}

.contato-form input,
.contato-form textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contato-form button {
    background-color: #1E2A38;
    font-family: "Poppins";
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Página Projetos INDIVIDUAL */
.projetos-pagina{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-bottom: 100px;
}
.projetos-pagina img{
    width: 1000px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 990px) {
    #hamburguer{
        margin-left: 10px;
    }
    .li2{
        margin-left: 0;
        margin-right: 600px;
    }
    .aside {
        max-width: 25%;
        margin-top: 700px;
    }
    .header {
        height: auto;
    }
    .topo {
        margin-top: 100%;
    }
    .download-button {
        font-size: 40px;
    }
    .projetos-box {
        width: 80%;
        margin: 10px 0;
    }
}
@media (max-width: 768px) {
    .li2{
        margin-left: 0;
        margin-right: 400px;
    }
    .header img{
        margin-left: 0;
    }
    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }
    .download-button{
        margin-left: 36%;
    }
    .aside{
        display: none;
    }
    .header {
        height: auto;
    }
    .aside {
        max-width: 40%;
        margin-top: 60%;
    }
    .contato-form input,
    .contato-form textarea {
        width: 90%;
    }
    .topo{
        display: none;
    }
    .projetos-box {
        width: 100%; 
    }
}
@media (max-width: 480px) {
    .topo{
        display: none;
    }
    .header img{
        margin-left: 0;
    }
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    .header{
        height: auto;
    }
    .aside{
        display: none;
    }
    .download-button {
        font-size: 30px;
        margin-left: 35%;
    }
    .formacao ul{
        flex-wrap: wrap;
    }
    .topo button {
        font-size: 16px;
    }
    .projetos-pagina img{
        width: 430px;
        height: 215px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}